html {
  display: block;
}

body {
  line-height: 2;
}
/*header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.header-ttl {
  font-size: 24px;
  width: 80px;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

/*header end*/

/*page-mv*/
.page-mv {
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  position: relative;
}

.ttl {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
}
/*page-mv end*/

/*servise*/
main {
  display: block;
}

.service-wrap {
  width: 80%;
  margin: 100px auto;
  border-bottom: 1px solid #222;
}

.service-item {
  padding: 20px 0;
  border-top: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
}

.service-item-img {
  width: 300px;
}

img {
  width: 100%;
  height: auto;
}

.service-item-detail {
  width: calc(100% - 330px);
  margin-left: 30px;
}

.service-item-ttl {
  font-size: 24px;
  font-weight: bold;
  padding: 20px auto;
}

h2 {
  display: block;
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.p {
  display: block;
  margin-block-start: 1px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*servise end*/

/*bottom contact*/
.bottom-contact {
  background-color: rgb(246, 246, 252);
  text-align: center;
  padding-bottom: 50px;
}
.bottom-contact-ttl {
  padding-top: 100px;
  font-size: 36px;
}
.bottom-contact-btn {
  display: block;
  width: 300px;
  color: #fff;
  font-size: 16px;
  background-color: #cd0224;
  padding: 10px;
  margin: 50px auto;
  font-weight: bold;
  text-align: center;
}

/*bottom contact end*/

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

a {
  color: #fff;
}

.footer-nav-list {
  display: flex;
  text-decoration: none;

.fotter-nav-item:not(:last-child) {
  margin-right: 30px;
}

/*footer end*/
